.movieContainer {
  width: 120px;
  min-width: 120px;
  position: relative;
  margin-right: 10px;
}

.wrapper {
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.trackInner {
  overflow: hidden;
}
.track {
  display: inline-flex;
  transition: transform 0.5s ease-out;
}
.button {
  height: 20px;
  width: 20px;
  background-color: white;
}